/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  transition: 0.2s linear;
}

/* Variables */
:root {
  /* Colors */
  --first-color: #3b8ea5;
  --title-color: #222831;
  --font-color: #393e46;
  --body-color: #f5ee9e;
  --container-color: #f5f5f0;

  /* Fonts */
  --body-font: "Roboto", sans-serif;
  --h3-font-size: 1rem;
  --normal-sont-size: 0.94rem;
}

/* Carousel */
body {
  background: var(--body-color);
}

.carousel {
  max-width: 1200px;
  min-height: 100vh;
  position: relative;
  padding-block: 4rem;
  display: grid;
  align-content: center;
  row-gap: 1.5rem;
  overflow: hidden;
}

.carousel_card {
  width: 320px;
  text-align: center;
  background-color: var(--container-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin-inline: 1rem;
  border-radius: 10px;
  padding: 1rem 1rem 2rem;
}

.carousel_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
  margin: 0 auto 0.4rem;
  transition: transform 0.4s ease-in-out;
}

.carousel_card:hover {
  transform: scale(1.05);
  box-shadow: none;
}

.carousel_card:hover p {
  font-weight: 500;
}

.carousel_name,
.carousel_number {
  font: 400 var(--h3-font-size) var(--body-font);
  color: var(--font-color);
}

.carousel_name {
  margin-bottom: 1rem;
}

.carousel_rating {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.carousel_stars i {
  font-size: 1rem;
  color: var(--first-color);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.carousel_stars i:hover {
  transform: scale(1.2);
}

.carousel_content {
  width: 100%;
  display: flex;
  animation: scroll 30s linear infinite;
}

.carousel_reverse_scroll {
  flex-direction: row-reverse;
  animation-direction: reverse;
  animation-delay: 1.2s;
}

.carousel_content:hover {
  animation-play-state: paused;
}

/* Scroll Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Media Queries */
@media screen and (max-width: 320px) {
  .carousel_card {
    width: 250px;
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .carousel {
    margin-inline: auto;
    row-gap: 2.5rem;
  }

  .carousel::before,
  .carousel::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    z-index: 1;
  }

  .carousel::before {
    right: 0;
    background: linear-gradient(90deg, hsla(220, 24%, 94%, 0) 0, var(--body-color) 100%);
  }

  .carousel::after {
    left: 0;
    background: linear-gradient(90deg, var(--body-color) 0%, hsla(220, 24%, 94%, 0) 100%);
  }
}
